<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Task</title>
</head>
<body>
	<h1>New Task...</h1>
	<form action="/tasks/new" method="post">
		<span>Task :</span>
		<input type="text" name="newTask" id="newTask">
		<input type="submit" value="Save" id="btnSave">
	</form>
</body>
</html>